/* Reset & base */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  color: #3a3737;
  line-height: 1.6;
}


/* Header */
header {
  text-align: center;
  padding: 15px;
  background-color: #087bd4;
  color: #f3f6f7;
}

header h1 {
  margin:2px;
  font-size: 40px;
}

/* column layout */
.container {
  display: flex;
  gap: 30px;
  padding: 20px;
}

/* Columns */
.left {
  width: 180px;
  padding: 20px;
  background: #6cbacf31;

}

.middle {
  width: 400px;
  padding: 20px;
  background: #6cbacf31;
}
.right {
  flex: 3;
  padding: 20px;
  background: #6cbacf31;
}

.left h2 {
  margin-top: 0;
  font-size: 30px;
  border-bottom: 2.5px solid #587bd4;
  padding-bottom: 5px;
  color: #587bd4;
}

.middle h2{
  margin-top: 0;
  font-size: 30px;
  padding-bottom: 5px;
  color: #587bd4;
}

.right h2 {
  margin-top: 0;
  font-size: 30px;
  padding-bottom: 5px;
  color: #587bd4;
}

